.header {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161a1d;
  padding: 0 10%;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.2rem;
  border: 1px solid transparent;
  transition: 0.5s ease;
  padding: 5px 10px;
  color: #fff;
}

.header a:hover,
.header a:active,
.header a.active {
  background-color: #fff;
  color: #000;
}

.header i {
  color: #fff;
  display: none;
  align-items: baseline;
}
/*미디어쿼리*/
@media only screen and (max-width: 1248px) {
  .header {
    overflow: hidden;
  }

  .on {
    overflow: visible;
    
  }

  .header nav {
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    /* overflow: hidden; */
    flex-direction: column;
    width: auto;
    height: auto;
    /* min-height: 90vh; */
    
  }

  .header i {
    position: absolute;
    display: block;
    top: -5px;
    left: 40px;
    z-index: 2;
    font-size: 1.5rem;
  }

  .header nav ul {
    /* flex-direction: column; */
    align-items: flex-start;
    /* height: 100px; */
    /* min-height: 90vh; */
    padding-left: 0;
    position: absolute;
    /* max-height: 220px; */
    top: 100px;
    /* right: 170px; */
    margin-top: 0px;
    transition: 0.2s ease-in-out;
    z-index: 99;
    display: block;
  }

  .dimm {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: none;
  }

  .wrap {
    display: block;
    filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.7);
  }

  .header nav ul li {
    margin: 20px 5px;
  }

  .header nav ul li a {
    font-size: 1rem;
    padding: 2px;
  }

  ul li.active a {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
  }
}
