.introduce {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.pic {
  /* height: 30%; */
  margin: 15px;
}

.pic img {
  height: 250px;
}

.introduce article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 700px;
  margin: 0 20px;
}

.github {
  font-size: 1.2rem;
  margin-bottom: 1%;
}
.about h1 {
  font-size: 2.5rem;
  margin: 10px;
}

.about h2 {
  margin: 10px;
}

.introduce a {
  text-decoration: none;
}

.introduce .progress {
  margin: 30px 0 0 10px;
}

.introduce .icon-panel {
  display: flex;
  margin: 30px auto;
}

.introduce .icon-panel span {
  margin: 0 10px;
  font-size: 1.2rem;
  text-align: center;
}

.github i {
  margin-right: 5px;
}

.github span {
  position: relative;
}

.github span::after {
  content: "";
  background-color: #fff;
  height: 1px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  transition: 0.5s ease;
}

.github span:hover:after {
  width: 100px;
}

@media only screen and (max-width: 1248px) {
  .introduce {
    flex-direction: column;
  }

  .pic {
    height: auto;
  }
  .pic img {
    height: 10rem;
  }

  .introduce {
    flex-direction: column;
  }
  .icon-panel {
    flex-wrap: wrap;
    min-width: 50px;
    justify-content: center;
  }

  .icon {
    flex-direction: column;
    display: flex;
    margin: 10px 20px;
  }
  .icon i {
    margin: 0 auto;
  }
}
